# how to test regexes:
# * go to https://regex101.com/
# * select "Python" for flavor on the left sidebar
# * insert a costume pattern in the "regular expression" field (without the r"")
# * insert chartags one per line in the "test string" field
# * special qualifiers like arknights_the_costume or kancolle_kai_ni should be captured in the named group extra_qualifier for ease of parsing

# options:
# topic_id: integer, mandatory
# wiki_ids: array of integers, optional
# extra costume patterns: array of regexes, optional
# extra qualifier: array of strings, optional
# line_blacklist: array of strings (blacklists specific implication requests)
# qualifier_blacklist: array of strings (blacklists specific qualifiers from ever being implicated)
# group_by_qualifier: boolean, default true, optional (whether single-line BURs are grouped by qualifier)
# allow_sub_implications: boolean, default true (allow costumes to imply other costumes)
# autopost: bool, default false

series:
  - name: "arknights"
    topic_id: 19647
    wiki_ids: [111571]
    extra_costume_patterns:
      - r"^(?P<base_name>[^(]+?)(?P<extra_qualifier>the_\w+)(?P<qualifiers>(?:_\(.*\)))*$"
    autopost: true

  - name: "atelier_(series)"
    topic_id: 26873
    wiki_ids: [109224]
    extra_qualifiers:
      - atelier
    autopost: true

  - name: "azur_lane"
    topic_id: 23519
    wiki_ids: [91126]
    autopost: true

  - name: "black_survival"
    topic_id: 32228
    wiki_ids: [242584]
    autopost: true

  - name: "blue_archive"
    topic_id: 21341
    wiki_ids: [136349]
    line_blacklist:
      - "imply kei_(amas)_(blue_archive) -> kei_(blue_archive)"
    autopost: true

  - name: "cookie_run"
    topic_id: 28362
    wiki_ids: [203490]
    autopost: true

  - name: "fire_emblem"
    topic_id: 22728
    wiki_ids: [24408]
    extra_qualifiers:
      - fire_emblem_fates
      - fire_emblem_heroes
      - fire_emblem_gaiden
      - fire_emblem_engage
      - fire_emblem_awakening
      - fire_emblem_echoes
    autopost: true

  - name: "genshin_impact"
    topic_id: 19285
    wiki_ids: [121439]
    line_blacklist:
      - "imply nadia_(melusine)_(genshin_impact) -> nadia_(genshin_impact)"
    autopost: true

  - name: "girls'_frontline"
    topic_id: 23293
    wiki_ids: [78438]
    extra_qualifiers:
      - girls'_frontline_2
      - neural_cloud
      - reverse_collapse
    autopost: true

  - name: honkai_impact_3rd
    topic_id: 25459
    wiki_ids: [181862]
    extra_qualifiers:
      - honkai_impact
    autopost: true

  - name: "honkai:_star_rail"
    topic_id: 24117
    wiki_ids: [148987]
    autopost: true

  - name: "identity_v"
    topic_id: 32035
    wiki_ids: [164998]
    autopost: true

  - name: "kantai_collection"
    topic_id: 26671
    wiki_ids: [62620]
    extra_qualifiers:
      - kancolle
    extra_costume_patterns:
      - r"^(?P<base_name>[^(]+?)(?P<extra_qualifier>kai_ni|kai)(?P<qualifiers>(?:_\(.*\)))*$"
    line_blacklist:
      - "imply amagi_(battlecruiser)_(kancolle) -> amagi_(kancolle)"
    autopost: true

  - name: "love_live!"
    topic_id: 27717
    wiki_ids: [246964]
    autopost: true

  - name: "goddess_of_victory:_nikke"
    topic_id: 25272
    wiki_ids: [186316]
    extra_qualifiers:
      - nikke
    autopost: true

  - name: mahou_shoujo_madoka_magica
    topic_id: 27298
    wiki_ids: [133865]
    extra_qualifiers:
      - madoka_magica
    autopost: true

  - name: path_to_nowhere
    topic_id: 26359
    wiki_ids: [181958]
    autopost: true

  - name: "pokemon"
    topic_id: 22703
    wiki_ids: [12042, 29014]
    extra_qualifiers:
      - pokemon_conquest
      - pokemon_go
      - pokemon_heroes
    qualifier_blacklist:
      - prototype # we don't want pokemon prototypes to imply their official form
    autopost: true

  - name: "princess_connect!"
    topic_id: 25913
    wiki_ids: [188656]
    autopost: true

  - name: "punishing:_gray_raven"
    topic_id: 25165
    wiki_ids: [171594]
    extra_qualifiers:
      - pgr
    allow_sub_implications: false
    extra_costume_patterns:
      - r"^(?P<base_name>[^(]+?)(?P<extra_qualifier>:\w+)(?P<qualifiers>(?:_\(.*\)))*$"
    autopost: true

  - name: "reverse:1999"
    topic_id: 24504
    wiki_ids: [170517]
    autopost: true

  - name: stella_sora
    topic_id: 33621
    wiki_ids: [226408]
    autopost: true

  - name: "strinova"
    topic_id: 32385
    wiki_ids: [248692] # wip: move to a proper list_of_ wiki
    autopost: true

  - name: "tales_of_(series)"
    topic_id: 32422
    wiki_ids: [30701]
    extra_qualifiers:
      - tales
    autopost: true

  - name: "umamusume"
    topic_id: 29925
    wiki_ids: [126524]
    autopost: true

  - name: "vocaloid"
    topic_id: 28271
    wiki_ids: [74221]
    autopost: true

  - name: "wuthering_waves"
    topic_id: 27205
    wiki_ids: [192114]
    autopost: true

  - name: "xenoblade"
    topic_id: 26163
    wiki_ids: [137054]
    autopost: true

  - name: zenless_zone_zero
    topic_id: 30085
    wiki_ids: [149060]
    autopost: true

  ### not autoposted, too much of a clusterfuck ##

  - name: "fate_(series)"
    topic_id: 26405
    wiki_ids: [74111, 139382, 218559]
    extra_qualifiers:
      - fate
      - fate/prototype
      - fate/extra
      - fate/apocrypha
    group_by_qualifier: false
    autopost: false
    line_blacklist:
      - "imply ector_(orca)_(fate) -> ector_(fate)"
      - "imply hephaestion_(true)_(fate) -> hephaestion_(fate)"
      - "imply kyokutei_bakin_(past)_(fate) -> kyokutei_bakin_(fate)"
      - "imply miyamoto_musashi_(male)_(fate) -> miyamoto_musashi_(fate)"
      - "imply oda_nobunaga_(genuine)_(fate) -> oda_nobunaga_(fate)"
      - "imply spriggan_(enemy)_(fate) -> spriggan_(fate)"

  - name: "final_fantasy"
    topic_id: 26731
    wiki_ids: [13040]
    extra_qualifiers: # fucking really?
      - ff1
      - ff2
      - ff3
      - ff4
      - ff5
      - ff6
      - ff7
      - ff8
      - ff9
      - ff10
      - ff11
      - ff12
      - ff13
      - ff14
      - ff15
      - ff16
      - ffo
      - fft
      - fft-0
      - dff
      - woff
      - ffmq
    autopost: false

  - name: "marvel"
    topic_id: 31091
    wiki_ids: [217769]
    extra_qualifiers:
      - marvel_rivals
    autopost: false
